<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.books.mapper.AccountMapper">

	<insert id="insert">
		INSERT INTO tbl_user(userid,userpw,name,  phone,email,zipcode, address1, address2)
		VALUES(#{userid}, #{userpw}, #{name}, #{phone}, #{email}, #{zipcode}, #{address1}, #{address2})
	</insert>
	
	<update id="update">
		UPDATE tbl_user
		SET userpw = #{userpw},
			name = #{name},
			phone = #{phone},
			email = #{email},
			zipcode = #{zipcode},
			address1 = #{address1},
			address2 = #{address2}
		WHERE userid = #{userid}
	</update>
	
	<delete id="delete">
		DELETE FROM tbl_user WHERE userid = #{userid}
	</delete>
	
	<select id="read" resultType="com.books.domain.UserVO">
		SELECT * FROM tbl_user WHERE userid = #{userid} 
	</select>
	
	<select id="getUserpw" resultType="String">
		SELECT userpw FROM tbl_user WHERE userid = #{userid}
	</select>
	
</mapper>