<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.books.mapper.AccountMapper">
 
	<insert id="insert">
		INSERT INTO tbl_user(userid, userpw, name,  phone, email, zipcode, address1, address2)
		VALUES(#{userid}, #{userpw}, #{name}, #{phone}, #{email}, #{zipcode}, #{address1}, #{address2})
	</insert>
	
	<update id="updateInfo">
		UPDATE tbl_user
		SET name = #{name},
			phone = #{phone},
			email = #{email},
			zipcode = #{zipcode},
			address1 = #{address1},
			address2 = #{address2}
		WHERE userid = #{userid}
	</update>
	
	<update id="updatePw">
		UPDATE tbl_user
		SET userpw = #{newUserPw1}
		WHERE userid = #{userid}
	</update>
	
	<delete id="delete">
		DELETE FROM tbl_user WHERE userid = #{userid}
	</delete>
	
	<select id="read" resultType="com.books.domain.UserVO">
		SELECT * FROM tbl_user WHERE userid = #{userid} 
	</select>
	
	<select id="getUserpw" resultType="String">
		SELECT userpw FROM tbl_user WHERE userid = #{userid}
	</select>
		
	<insert id="insertAuth">
		INSERT INTO tbl_user_auth(userid, auth) VALUES(#{userid}, 'ROLE_USER') 
	</insert>
</mapper>