<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.books.mapper.CartMapper">


<!-- 카트 담기 -->
<!-- <insert id="addCart">
	insert into tbl_cart(cartNum, productid, productstock)
		values(tbl_cart_seq.nextval, #{productid}, #{productstock})
</insert>  -->

<update id="addCart">

<![CDATA[ MERGE INTO tbl_cart a
 USING DUAL 
 ON (a.productid = #{productid})
  when matched then update set a.productstock = #{productstock} 
  when not matched then insert (a.cartNum, a.productid, a.productstock)
 values(tbl_cart_seq.nextval, #{productid}, #{productstock}) ]]>

</update>

 <!-- 카트에 담긴 수량 수정 -->
<update id="modifyCart">
	UPDATE tbl_cart
	set  productstock = #{productstock}
	where cartNum = #{cartNum}
</update>

<!-- 카트 리스트 -->
<select id="cartList" resultType="com.books.domain.CartListVO">
<![CDATA[
 select
     row_number() over(order by c.cartNum asc) as num,
     c.cartNum, c.productid, c.productstock, c.addDate,
     p.ptitle, p.price, p.pimg , p.stock
 from tbl_cart c
     inner join tbl_product p
         on c.productid = p.productid 
 ]]>
</select>

<!-- 카트 삭제 -->
<delete id="delectCart">
 delete tbl_cart
     where cartNum = #{cartNum}
</delete>

</mapper>