<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.books.mapper.OrderMapper">

<!-- 주문목록조회 -->
<select id="getList" resultType="com.books.domain.OrderVO">
<![CDATA[
	select * from tbl_order where userid = #{userid} order by orderdate desc
 ]]>
</select>

<!-- 주문목록페이징 -->
<select id = "getListWithPaging" resultType="com.books.domain.OrderVO">
	<![CDATA[
		select orderid, userid, orderdate, quantity, totalprice, dname, dtell,
		dzipcode, daddress1, daddress2, dmsg, orderstatus, orderbook from
		(select /*+ INDEX_DESC(tbl_order pk_tbl_order) */
		rownum rn, orderid, userid, orderdate, quantity, totalprice, dname, dtell,
		dzipcode, daddress1, daddress2, dmsg, orderstatus, orderbook
		from tbl_order where
		rownum <= #{pageNum} * #{amount})
		where rn > (#{pageNum} -1) * #{amount}
	]]>
</select>

<!-- 전체데이터 개수처리 -->
<select id = "getTotalCount" resultType="int">
<![CDATA[
	select count(*) from tbl_order where orderid > 0
]]>
</select>

<!-- 주문상세조회-수령자정보 -->
<select id="dNameInfo" resultType="com.books.domain.OrderVO">
	select * from tbl_order where orderid = #{orderid}
</select>



<!-- 주문상세조회-책목록 -->
<resultMap type="com.books.domain.ProductVO" id="tbl_product">
	<result column="productid" property="productid" />
	<result column="ptitle" property="ptitle" />
</resultMap>

<resultMap type="com.books.domain.OrderDetailVO" id="tbl_orderdetail">
	<result column="orderid" property="orderid" />
	<result column="productid" property="productid" />
	<result column="ea" property="ea" />
	<result column="saleprice" property="saleprice" />
</resultMap>

<select id="orderDetailList" parameterType="String" resultMap="tbl_orderdetail">
	select p.ptitle, d.orderid, d.ea, d.saleprice
	from tbl_orderdetail d join tbl_product p on d.productid = p.productid
	where d.orderid = #{orderid}

</select>

<!-- 주문수정 -->
<update id="update">
	update tbl_order
	set dname = #{dname},
	dtell = #{dtell},
	dzipcode = #{dzipcode},
	daddress1 = #{daddress1},
	daddress2 = #{daddress2},
	dmsg = #{dmsg}
	where userid = #{userid}
</update>


<!-- 회원주문 -->

<insert id="insertOrder">
	insert into tbl_order (orderid, userid, orderdate, quantity, totalprice,
		dname, dtell, dzipcode, daddress1, daddress2, dmsg, orderbook)
	values (#{orderid}, #{userid}, sysdate, #{quantity}, #{totalprice},
		#{dname}, #{dtell}, #{dzipcode}, #{daddress1}, #{daddress2}, #{daddress2},
		#{dmsg}, #{orderbook})
</insert>

<!-- 회원주문-상세(미완) -->

<insert id="insertOrderDetail">
	insert into tbl_orderdetail(orderid, productid, ea, saleprice)
		select #{orderid}, #{productid}, #{productstock}, #{price}
			from tbl_cart
</insert>
<!-- 
<insert id="insert">
	insert into tbl_board (bno, title, content, writer)
	values (seq_board.nextval, #{title}, #{content}, #{writer})
</insert>

<insert id="insertSelectKey">
	<selectKey keyProperty="bno" order="BEFORE" resultType="long">
		select seq_board.nextval from dual
	</selectKey>
	
	insert into tbl_board (bno, title, content, writer)
	values (#{bno}, #{title}, #{content}, #{writer})
</insert>

<select id="read" resultType="org.zerock.domain.BoardVO">
	select * from tbl_board where bno = #{bno}
</select>

<delete id="delete">
	delete from tbl_board where bno = #{bno}
</delete>

<update id="update">
	update tbl_board
	set title = #{title},
	content = #{content},
	writer = #{writer},
	updateDate= sysdate
	where bno = #{bno}
</update>

<sql id="criteria">
	<trim prefix="(" suffix=") AND" prefixOverrides="OR">
		<foreach item='type' collection="typeArr">
			<trim prefix="OR">
				<choose>
					<when test="type == 'T'.toString()">
						title like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'C'.toString()">
						content like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'W'.toString()">
						writer like '%'||#{keyword}||'%'
					</when>
				</choose>
			</trim>
		</foreach>
	</trim>
</sql>

<select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">
	<![CDATA[
	select bno, title, content, writer, regdate, updatedate
	from
		(
		select /*+INDEX_DESC(tbl_board pk_board)*/
			rownum rn, bno, title, content, writer, regdate, updatedate
		from
			tbl_board
		where
	]]>
	
	<include refid="criteria"></include>

	
	<![CDATA[
		rownum <= #{pageNum} * #{amount})
		where rn > (#{pageNum} -1) * #{amount}
	]]>
</select>

<select id="getTotalCount" resultType="int">
	select count(*) from tbl_board
	where
	
	<include refid="criteria"></include>
	
	bno > 0
</select>

 -->

<!-- dy] 카트->주문페이지로 불러오기 -->
<select id="getCheckedCart" resultType="com.books.CartVO">
	SELECT 	cartnum
			, c.productid
			, productstock
			, p.PIMG
			, p.price
			, p.ptitle
	FROM    tbl_cart c
		  , tbl_product p
	WHERE c.PRODUCTID = p.PRODUCTID 
		  AND cartnum IN
		  <foreach collection="array" item="cartIdx" open="(" separator="," close=")">
			  #{cartIdx}
		  </foreach>  
</select>

</mapper>