<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.books.mapper.UserMapper">
	
	<update id="upadte">
		UPDATE tbl_user
		SET userpw = #{userpw},
			phone = #{phone},
			email = #{email},
			zipcode = #{zipcode},
			address1 = #{address1},
			address2 = #{address2}
		WHERE userid = #{userid}
	</update>
	
	<delete id="delete">
		DELETE FROM tbl_user WHERE userid = #{userid}
	</delete>
	
	<select id="getTotalCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM tbl_user
		]]>
	</select>
	
	<select id="getList" resultType="com.books.domain.UserVO">
		<![CDATA[
			SELECT userid, userpw, name, phone, email, zipcode, address1, address2, regdate 
			FROM (SELECT rownum rn, userid, userpw, name, phone, email, zipcode, address1, address2, regdate
	 			  FROM tbl_user WHERE rownum <= #{pageNum} * #{amount})
	 		WHERE rn > (#{pageNum} -1) * #{amount}
 		]]>  
	</select>
</mapper>