<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.books.mapper.UserMapper">
	
	<select id="getList" resultType="com.books.domain.UserVO">
		<![CDATA[
			SELECT userid, name, phone, regdate, orderid
			FROM(
				SELECT rownum rn, userid, name, phone, regdate, orderid 
				FROM(
					SELECT u.userid, name, phone, regdate, max(orderid) orderid
					FROM tbl_user u
					INNER JOIN TBL_ORDER o ON u.userid = o.userid (+)
					GROUP BY u.userid, name, phone, regdate
				)
				WHERE rownum <= #{pageNum} * #{amount}
			)
			WHERE rn > (#{pageNum} -1) * #{amount}
 		]]>  
	</select>
	
	<update id="update">
		UPDATE tbl_user
		SET name  = #{name},
			phone = #{phone},
			email = #{email},
			zipcode  = #{zipcode},
			address1 = #{address1},
			address2 = #{address2},
			adminmemo = #{adminMemo}
		WHERE userid  = #{userid}
	</update>
	
	<delete id="delete">
		DELETE FROM tbl_user WHERE userid = #{userid}
	</delete>
	
	<select id="getTotalCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM tbl_user
		]]>
	</select>
	
	
</mapper>